.row
  .box-css.col-md-4
    %h2 Sign up
    = form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f|
      = devise_error_messages!
      
      %div
        = f.label :username
        %br/
        = f.string :username, :autofocus => true
      %div
        = f.label :first_name
        %br/
        = f.string :first_name
      %div
        = f.label :last_name
        %br/
        = f.string :last_name
      %div
        = f.label :avatar
        %br/
        = f.string :avatar
      %div
        = f.label :email
        %br/
        = f.email_field :email
      %div
        = f.label :password
        %br/
        = f.password_field :password
      %div
        = f.label :password_confirmation
        %br/
        = f.password_field :password_confirmation
      %div= f.submit "Sign up"
    = render "devise/shared/links"