= form_for([@post, @post.comments.build]) do |f|
  .field
    = f.label :commenter, 'Your name'
    %br
    = f.text_field :commenter
  .field
    = f.label :text, 'Your comment'
    %br
    = f.text_area :text, cols: 80, rows: 5
  %br
  .actions
    = f.submit 'Post comment'
  %br
 