.row
  .col-md-12
    .box
      - if @type == 'have'
        %h2 They have a sourdough starter!
        %h3 Click on a member below to view their profile and contact them
      - else
        %h2 They knead a sourdough starter!
        %h3 Click on a member below to view their profile and contact them
        %br

      .row
        .col-md-3.avatar
          - @users_distance.each do |user, distance|
            = image_tag user.avatar
            %br
            = "#{distance.to_s[0, 4]} miles"
            %br
            =link_to user.username, user
            %br
            = user.town_city
            %br
            = user.country
            %br
            = user.description
            %hr

      
        .col-md-9
          %p.left Map of nearest five members who are looking for a starter
          %p.right
            =link_to 'View all members'
          #map-canvas-global

  :javascript
    window.user_address = "#{@address}"
    window.users = #{@user_json}