/ - content_for :stylesheets do
:css
  / body {
  /   background: url('/assets/homeimage2.jpg');
  /   background-size: cover;
  / }  


.row
  .col-md-5.welcome-text-box
    %h1 Find, or share, some sourdough starter in your hood
    %br
    %p
      (New to sourdough bread? 
      =link_to 'Learn more...', faq_path 
      )
  .col-md-4.welcome-search-box
    %h1 I've got dough
    %h3 Share your sourdough starter and help others become successful bakers
    = form_tag search_users_path, method: :post do
      .inner-row
        = text_field_tag :address, nil, placeholder: 'Enter your location'
        = hidden_field_tag :type, 'need'
        = submit_tag :Search, class: "btn home-search-button" 
.row
  .col-md-4.welcome-search-box
    %h1 I knead dough
    %h3 Find a sourdough starter and learn how to make high quality low cost bread
    = form_tag search_users_path, method: :post do
      .inner-row
        = text_field_tag :address, nil, placeholder: 'Enter your location'
        = hidden_field_tag :type, 'have'
        = submit_tag :Search, class: "btn home-search-button"


