.row
  .col-md-12
    %h2
      = @post.title
    = @post.text
    %hr
    %h3 Comments
    = render @post.comments
    %h3 Add a comment
    = render 'comments/form'

    = link_to 'Edit Post', edit_post_path(@post)
    |
    = link_to 'Back to Posts', posts_path
    |
    =link_to 'Delete', @post, :method => :delete, :confirm => "Are you sure?"
    %br
    %br
