!!!
%html
  %head
    %title Sourdoughmapper
    %meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}
    = stylesheet_link_tag    "application", :media => "all"
    %link{href: "http://fonts.googleapis.com/css?family=Metrophobic", rel: "stylesheet", type: "text/css"}
    %script{src: "https://maps.googleapis.com/maps/api/js?key=AIzaSyCJPjaJXSfTPrNwZiCyvAqoVMVJ1TmIDYQ&sensor=true"}
    %script{src: "http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js", type: "text/javascript"}
    = javascript_include_tag "application"
    = csrf_meta_tags




  %body#customisation
    .container
      %nav.navbar.navbar-default{role: "navigation"}
        / overall nav

        - if user_signed_in?
          / logged in nav inc search
          .navbar-header 
            .navbar-brand
              =link_to 'Sourdoughmapper', user_path(current_user)
          .collapse.navbar-collapse
            %ul.nav.navbar-right
              %li.text-only
                %span
                  %b Hello #{current_user.username}
              %li
                %a{href: inbox_path}
                  %span.global-counter
                    = pluralize(current_user.messages_received.where(is_read: false).count, "new message")

              %li
                = link_to 'Edit Profile', edit_user_registration_path
              
              %li
                = link_to 'Sign out', destroy_user_session_path, :method => "delete"
            %form.navbar-form.navbar-left{role: "search", action:"/users/search", method: "post"}
              .form-group
                %input.form-control{placeholder: "Enter location to search for members", type: "text", name: "address"}/
              .radio
                %input#optionsRadios2{name: "type", type: "radio", value: "have", checked: true}
                %label
                  Have
                %br
                %input#optionsRadios2{name: "type", type: "radio", value: "need"}
                %label
                  Need        
              %button.btn.btn-default.nav{type: "submit"} search
        
        
        - else
          / not logged in nav inc search
          .navbar-header 
            .navbar-brand
              =link_to 'Sourdoughmapper', root_path
          .collapse.navbar-collapse
            %ul.nav.navbar-right
              %li
                - if @user
                  = link_to "Sign up" , new_user_registration_path(ref_user_id: @user.id)
                - else
                  = link_to 'Sign up', new_user_registration_path
                /|
              %li
                - if @user
                  = link_to "Sign in" , new_user_session_path(ref_user_id: @user.id)
                - else
                  = link_to 'Sign in', new_user_session_path
        - flash.each do |name, msg|
          = content_tag :div, msg, :id => "flash_#{name}"
        
      .main= yield
    
      
      %nav.navbar.navbar-default.navbar-fixed-bottom{role: "navigation"}
        %ul.nav.navbar-left  
          %li
            = link_to 'About', about_path
          %li
            = link_to 'Contact', contact_path
          %li
            = link_to 'FAQ', faq_path
          %li
            = link_to 'Forum', forum_path
        %ul.nav.navbar-right
          %li
            %a{:href => "https://twitter.com/sourdoughmapper", :target => "_blank"}
              %img.twitter{:src => "/assets/twitter_bird_blue_32.png"}

