!!!
%html
  %head
    %title Sourdoughmapper
    %meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}
    = stylesheet_link_tag    "application", :media => "all"
    %link{href: "http://fonts.googleapis.com/css?family=Metrophobic", rel: "stylesheet", type: "text/css"}
    %script{src: "https://maps.googleapis.com/maps/api/js?key=AIzaSyCJPjaJXSfTPrNwZiCyvAqoVMVJ1TmIDYQ&sensor=true"}
    %script{src: "http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js", type: "text/javascript"}
    = javascript_include_tag "application"
    = csrf_meta_tags




  %body#customisation
    .container
      .row
        .col-md-12
          %nav.all
            / overall nav

            - if user_signed_in?
              / logged in nav inc search
              .top-header
                .logo
                  =link_to 'Sourdoughmapper', root_path 
                .leaderboard
                  %script{:async => "", :src => "//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"}
                  / Sourdough leaderboard
                  %ins.adsbygoogle{"data-ad-client" => "ca-pub-8447293650663384", "data-ad-slot" => "7020174900", :style => "display:inline-block;width:728px;height:90px"}
                  :javascript
                    (adsbygoogle = window.adsbygoogle || []).push({});
              .bottom-header
                .navigation-left
                  %ul 
                    %li
                      = link_to 'FAQ', faq_path
                    %li
                      = link_to 'Forum', forum_path
                .form-search
                  .search-box
                    %form{role: "search", action:"/users/search", method: "post"}
                      %input.address{placeholder: "Enter location to search for members", type: "text", name: "address"}/
                  .radios  
                    %input{name: "type", type: "radio", value: "have"}
                    %label
                      who have
                    %br
                    %input{name: "type", type: "radio", value: "need"}
                    %label
                      who need
                  .search-button        
                    %button{type: "submit"} search
                .navigation-right
                  %ul
                    %li.text-only
                      %span
                        %b Hello #{current_user.username}
                    %li
                      %a{href: inbox_path}
                        %span.global-counter
                          = pluralize(current_user.messages_received.where(is_read: false).count, "new message")

                    %li
                      = link_to 'Edit Profile', edit_user_registration_path
                    
                    %li
                      = link_to 'Sign out', destroy_user_session_path, :method => "delete"

            
            
            - else
              / not logged in nav exc search
              .top-header
                .logo
                  =link_to 'Sourdoughmapper', root_path 
                .leaderboard
                  %script{:async => "", :src => "//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"}
                  / Sourdough leaderboard
                  %ins.adsbygoogle{"data-ad-client" => "ca-pub-8447293650663384", "data-ad-slot" => "7020174900", :style => "display:inline-block;width:728px;height:90px"}
                  :javascript
                    (adsbygoogle = window.adsbygoogle || []).push({});
              .bottom-header
                .navigation-left
                  %ul 
                    %li
                      = link_to 'FAQ', faq_path
                    %li
                      = link_to 'Forum', forum_path
                .navigation-right
                  %ul
                    %li
                      - if @user
                        = link_to "Sign up" , new_user_registration_path(ref_user_id: @user.id)
                      - else
                        = link_to 'Sign up', new_user_registration_path
                      /|
                    %li
                      - if @user
                        = link_to "Sign in" , new_user_session_path(ref_user_id: @user.id)
                      - else
                        = link_to 'Sign in', new_user_session_path
            - flash.each do |name, msg|
              = content_tag :div, msg, :id => "flash_#{name}"
          
      = yield
    
      %nav.all
        .navigation-left
          %ul  
            %li
              = link_to 'About', about_path
            %li
              = link_to 'Contact', contact_path
            %li
              = link_to 'FAQ', faq_path
            %li
              = link_to 'Forum', forum_path
        .navigation-right
          %ul
            %li
              %a{:href => "https://twitter.com/sourdoughmapper", :target => "_blank"}
                %img.twitter{:src => "/assets/twitter_bird_blue_32.png"}

